* {
  padding: 0;
  margin: 0; }

body {
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  /*flex*/
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

header {
  background-color: #0e0e74;
  position: fixed;
  z-index: 9999;
  width: 100%;
  opacity: 50%; }

.logo {
  position: absolute;
  top: 0%;
  left: 2%;
  /*animaciones*/
  transition: height 1s;
  z-index: 9999; }
  .logo:hover {
    height: 250px; }

.container-fluid {
  /*flex*/
  display: flex;
  flex-direction: column; }

.navbar-dark .navbar-nav .nav-link {
  color: #fff23b; }

footer {
  background-color: #fff23b; }
  footer p {
    text-align: end;
    padding-right: 2%;
    color: #0e0e74; }
  footer h4 {
    color: #0e0e74; }

.pieFlex {
  display: flex;
  align-items: center;
  justify-content: space-evenly; }
  .pieFlex li {
    display: inline-block;
    list-style: none; }

main {
  background-color: #0a0a5f;
  padding-bottom: 2%; }

.portada {
  background-image: url(../img/collage.jpg);
  height: 75vh;
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;
  opacity: 70%;
  /*flex*/
  display: flex;
  justify-content: center; }
  .portada h1 {
    padding-top: 20vh;
    color: white;
    opacity: 100%;
    /*animaciones*/
    animation-duration: 5s;
    animation-name: aparecer;
    animation-iteration-count: initial; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.container h3 {
  color: white;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%; }

.grillaFooter {
  display: grid;
  grid-template-areas: "item-l item-s" "item-p item-p";
  grid-template-columns: 20% auto; }
  .grillaFooter .item-l {
    grid-area: item-l; }
  .grillaFooter .item-s {
    grid-area: item-s; }
  .grillaFooter .item-p {
    grid-area: item-p; }

.grillaDeportes {
  display: grid;
  grid-template-areas: "item-d item-d item-d" "item-f item-h item-t" "item-v item-p item-n";
  align-items: center;
  height: 100%;
  width: 100%;
  text-align: center;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 20% auto auto;
  padding-top: 5%;
  padding-bottom: 10%;
  padding-left: 5%; }
  .grillaDeportes .item-d {
    grid-area: item-d; }
  .grillaDeportes .item-f {
    grid-area: item-f; }
  .grillaDeportes .item-h {
    grid-area: item-h; }
  .grillaDeportes .item-t {
    grid-area: item-t; }
  .grillaDeportes .item-v {
    grid-area: item-v; }
  .grillaDeportes .item-p {
    grid-area: item-p; }
  .grillaDeportes .item-n {
    grid-area: item-n; }

.card-body h5 {
  color: #0e0e74; }

.card-body p {
  color: #0e0e74; }

.card-img-top {
  background-size: cover; }

.grillaDeportes .item-d {
  color: white; }

.grillaDeportes .info {
  color: #fff23b; }

.grillaDeportes .card-text {
  color: white; }

.grillaDeportes .card-title {
  color: #fff23b; }

@media screen and (max-width: 768px) {
  .grillaDeportes {
    display: grid;
    grid-template-areas: "item-d" "item-f"  "item-h"  "item-t" "item-v"  "item-p"  "item-n"; }
    .grillaDeportes .item-d {
      grid-area: item-d; }
    .grillaDeportes .item-f {
      grid-area: item-f; }
    .grillaDeportes .item-h {
      grid-area: item-h; }
    .grillaDeportes .item-t {
      grid-area: item-t; }
    .grillaDeportes .item-v {
      grid-area: item-v; }
    .grillaDeportes .item-p {
      grid-area: item-p; }
    .grillaDeportes .item-n {
      grid-area: item-n; }
  .grillaFooter {
    display: grid;
    grid-template-areas: "item-l"  "item-s" "item-p";
    grid-template-columns: 100%; }
    .grillaFooter .item-l {
      grid-area: item-l; }
    .grillaFooter .item-s {
      grid-area: item-s; }
    .grillaFooter .item-p {
      grid-area: item-p; } }
