* {
  padding: 0;
  margin: 0; }

body {
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  /*flex*/
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

header {
  background-color: #0e0e74;
  position: fixed;
  z-index: 9999;
  width: 100%; }

.logo {
  position: absolute;
  top: 0%;
  left: 2%;
  /*animaciones*/
  transition: height 1s;
  z-index: 9999; }
  .logo:hover {
    height: 250px; }

.container-fluid {
  /*flex*/
  display: flex;
  flex-direction: column; }

.navbar-dark .navbar-nav .nav-link {
  color: #fff23b; }

footer {
  background-color: #fff23b;
  padding-top: 0; }
  footer p {
    text-align: end;
    padding-right: 2%;
    color: #0e0e74; }
  footer h4 {
    color: #0e0e74; }

.pieFlex {
  /*flex*/
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }
  .pieFlex li {
    display: inline-block;
    list-style: none; }

main {
  background-color: #0a0a5f;
  padding-bottom: 2%; }

.portada {
  background-image: url(../img/collage.jpg);
  color: white;
  width: 100%;
  height: 75vh;
  /*flex*/
  display: flex;
  justify-content: center; }
  .portada h1 {
    padding-top: 20vh;
    /*animaciones*/
    animation-duration: 5s;
    animation-name: aparecer;
    animation-iteration-count: initial; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  .portada h3 {
    color: white;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%; }

.grillaFooter {
  display: grid;
  grid-template-areas: "item-l" "item-s" "item-p" "item-p";
  grid-template-columns: 50% auto;
  grid-template-rows: 72% auto; }
  .grillaFooter .item-l {
    grid-area: item-l; }
  .grillaFooter .item-s {
    grid-area: item-s;
    padding-right: 10%; }
  .grillaFooter .item-p {
    grid-area: item-p; }
