.card-img-top{
    background-size: cover;
}

.grillaDeportes{
    .item-d{
        color: $blanco;
    }

    .info{
        color: $amarillo;
    }
    .card-text{
        color: $blanco;
    }
    .card-title{
        color: $amarillo;
    }
}
