.grillaFooter{
    display: grid;
    grid-template-areas: 
    "item-l item-s"
    "item-p item-p";
    grid-template-columns: 20% auto;


    .item-l{
        grid-area: item-l;
    }

    .item-s{
        grid-area: item-s;
    }

    .item-p{
        grid-area: item-p;
    }
}





