main{
    background-color:$azul;
    padding-bottom: 2%;  
}

.portada{
    background-image: url(../img/collage.jpg);
    height: 75vh;
    background-repeat:no-repeat;
    background-position: 100%;
    background-size: 100%;
    opacity: 70%;

    /*flex*/
    display: flex;
    justify-content: center;

    h1{
        padding-top: 20vh;
        color: $blanco;
        opacity: 100%;

        /*animaciones*/
        animation-duration: 5s;
        animation-name: aparecer;
        animation-iteration-count: initial; 
        @keyframes aparecer {
            0% {
              opacity: 0;
            }
            100% {
              opacity: 1;
            }
        }
    }
}

.container{

    h3{
        color: $blanco;
        text-align: center;
        padding-top: 2%;
        padding-bottom: 2%;
    }
}