$azul:rgb(10,10,95);
$azuloscuro:rgb(14,14,116);
$amarillo: rgb(255, 242, 59);
$blanco:white;

@import"general";
@import"index";
@import"grillas";
@import"historia";
@import"deportes";
@import"mediasqueries";